In [1]:
# do the lifelines analysis on checking data

# standard libraries
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import os

# plotting libraries
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# get the datetime library for date & time calcs
from datetime import datetime, timedelta

In [2]:
# get the different data sets

# load the the main data sets
url = os.path.normpath('C:/Users/n846490/Documents/Python Scripts/SurvivalAnalysis/crossSell.csv')
xSell = pd.read_csv(url)

In [3]:
# view the data
xSell.head()

     CustID Channel Customergroups  Closed  NumAccounts  AcctOpen  AcctClosed
0    F10000  Branch       Boomers+    Open            1         1           0
1    F10000  Branch       Boomers+  Closed            1         0           1
2  F1000008  Branch       Boomers+    Open            2         2           0
3  F1000008  Branch       Boomers+  Closed            0         0           0
4   F100001  Branch       Boomers+    Open            4         4           0

In [5]:
# get the number of rows for reference

xSell.shape[0]

1437507

In [4]:
# get cross clean

url = os.path.normpath('C:/Users/n846490/Documents/Python Scripts/SurvivalAnalysis/crossClean.csv')
xSellClean = pd.read_csv(url)

xSellClean.head()

     CustID Channel Customergroups  Closed  Open
0    F10000  Branch       Boomers+       1     1
1  F1000008  Branch       Boomers+       0     2
2   F100001  Branch       Boomers+       2     4
3  F1000013  Branch          Gen X       2     2
4  F1000030  Branch       Boomers+       1     2

In [6]:
xSellClean.shape[0]

993716

In [29]:
# get the balances and IXI data

url = os.path.normpath('C:/Users/n846490/Documents/DataScience/CSVs/Revenue_IXI.csv')
revData = pd.read_csv(url)

revData.head()

,H1453_TIPOPERS,H1453_CODPERS,O2903_INC360,O2903_TOTASSTS,O2903_EQISCORE,O2903_VINSCORE,MAX_of_CKG_Flag,Income_2016,Expense_2016,Fees_2016,Income_2015,Expense_2015,Fees_2015,Income_2014,Expense_2014,Fees_2014
0,F,14,48087.0,190891.0,704.0,753.0,1,0.52,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
1,F,143,41421.0,34675.0,700.0,755.0,0,1.66,0.46,0.00,1.33,0.01,0.0,-29.91,0.45,0.0
2,F,538,26096.0,19632.0,635.0,691.0,1,0.26,0.00,210.76,0.01,0.00,35.0,0.00,0.00,0.0
3,F,879,47729.0,320.0,739.0,791.0,1,0.00,0.00,0.00,0.86,90.00,38.4,1.32,0.00,0.0
4,F,1496,51707.0,11590.0,651.0,700.0,1,0.00,0.00,0.00,10.76,0.05,0.0,0.00,0.00,0.0

In [30]:
revData.shape[0]

1118487

In [31]:
# clean up the columns names from the IXI file

newNames = {'H1453_TIPOPERS':'PersonType', 'H1453_CODPERS':'PersonCode', 'O2903_INC360':'EHI', 'O2903_TOTASSTS':'TotAssets', 'O2903_EQISCORE':'EqiScore', 'O2903_VINSCORE':'VinScore', 'MAX_of_CKG_Flag':'OpenedChecking', 'Income_2016':'Inc2016', 'Expense_2016':'Exp2016', 'Fees_2016':'Fees2016', 'Income_2015':'Inc2015', 'Expense_2015':'Exp2015', 'Fees_2015':'Fees2015','Income_2014':'Inc2014', 'Expense_2014':'Exp2014', 'Fees_2014':'Fees2014'}

revData.rename(columns=newNames, inplace=True)

# get a view of the data and headers
revData.head()

,PersonType,PersonCode,EHI,TotAssets,EqiScore,VinScore,OpenedChecking,Inc2016,Exp2016,Fees2016,Inc2015,Exp2015,Fees2015,Inc2014,Exp2014,Fees2014
0,F,14,48087.0,190891.0,704.0,753.0,1,0.52,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
1,F,143,41421.0,34675.0,700.0,755.0,0,1.66,0.46,0.00,1.33,0.01,0.0,-29.91,0.45,0.0
2,F,538,26096.0,19632.0,635.0,691.0,1,0.26,0.00,210.76,0.01,0.00,35.0,0.00,0.00,0.0
3,F,879,47729.0,320.0,739.0,791.0,1,0.00,0.00,0.00,0.86,90.00,38.4,1.32,0.00,0.0
4,F,1496,51707.0,11590.0,651.0,700.0,1,0.00,0.00,0.00,10.76,0.05,0.0,0.00,0.00,0.0

In [32]:
revData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1118487 entries, 0 to 1118486
Data columns (total 16 columns):
PersonType        1118487 non-null object
PersonCode        1118487 non-null int64
EHI               826474 non-null float64
TotAssets         826474 non-null float64
EqiScore          826474 non-null float64
VinScore          826474 non-null float64
OpenedChecking    1118487 non-null int64
Inc2016           1118487 non-null float64
Exp2016           1118487 non-null float64
Fees2016          1118487 non-null float64
Inc2015           1118487 non-null float64
Exp2015           1118487 non-null float64
Fees2015          1118487 non-null float64
Inc2014           1118487 non-null float64
Exp2014           1118487 non-null float64
Fees2014          1118487 non-null float64
dtypes: float64(13), int64(2), object(1)
memory usage: 136.5+ MB

In [33]:
# convert the PersonCode to string for concatonation
# revData['PersonCode'].apply(str)

revData['PersonCode'] = revData.applymap(str).iloc[:,1]

In [34]:
# make the new column CustID

revData['CustID'] = revData['PersonType'] + revData['PersonCode']

In [37]:
revData.head()

,PersonType,PersonCode,EHI,TotAssets,EqiScore,VinScore,OpenedChecking,Inc2016,Exp2016,Fees2016,Inc2015,Exp2015,Fees2015,Inc2014,Exp2014,Fees2014,CustID,Rev2016,Rev2015,Rev2014
0,F,14,48087.0,190891.0,704.0,753.0,1,0.52,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,F14,0.52,0.00,0.00
1,F,143,41421.0,34675.0,700.0,755.0,0,1.66,0.46,0.00,1.33,0.01,0.0,-29.91,0.45,0.0,F143,1.20,1.32,-30.36
2,F,538,26096.0,19632.0,635.0,691.0,1,0.26,0.00,210.76,0.01,0.00,35.0,0.00,0.00,0.0,F538,211.02,35.01,0.00
3,F,879,47729.0,320.0,739.0,791.0,1,0.00,0.00,0.00,0.86,90.00,38.4,1.32,0.00,0.0,F879,0.00,-50.74,1.32
4,F,1496,51707.0,11590.0,651.0,700.0,1,0.00,0.00,0.00,10.76,0.05,0.0,0.00,0.00,0.0,F1496,0.00,10.71,0.00

In [36]:
# create new revenue columns

revData['Rev2016'] = revData['Inc2016'] + revData['Fees2016'] - revData['Exp2016'] 

revData['Rev2015'] = revData['Inc2015'] + revData['Fees2015'] - revData['Exp2015'] 

revData['Rev2014'] = revData['Inc2014'] + revData['Fees2014'] - revData['Exp2014']

In [41]:
# reduce the size of the data frame

revDataRed = revData[['CustID', 'OpenedChecking', 'EHI', 'TotAssets', 'EqiScore', 'VinScore', 'Rev2016', 'Rev2015', 'Rev2014']]

In [42]:
revDataRed.head()

,CustID,OpenedChecking,EHI,TotAssets,EqiScore,VinScore,Rev2016,Rev2015,Rev2014
0,F14,1,48087.0,190891.0,704.0,753.0,0.52,0.00,0.00
1,F143,0,41421.0,34675.0,700.0,755.0,1.20,1.32,-30.36
2,F538,1,26096.0,19632.0,635.0,691.0,211.02,35.01,0.00
3,F879,1,47729.0,320.0,739.0,791.0,0.00,-50.74,1.32
4,F1496,1,51707.0,11590.0,651.0,700.0,0.00,10.71,0.00

In [56]:
os.getcwd()

# os.chdir(os.path.normpath('C:/Users/n846490/Documents/Python Scripts/SurvivalAnalysis'))

'C:\\Users\\n846490\\Documents\\Python Scripts\\SurvivalAnalysis'

In [57]:
# write this to a csv for additional cleaning
# export the clean data

revDataRed.to_csv('custRevenueTable.csv')

In [63]:
# load the the wide data

url = os.path.normpath('C:/Users/n846490/Documents/Python Scripts/SurvivalAnalysis/wideDataClean.csv')
wideData = pd.read_csv(url)

wideData.head()

   Unnamed: 0  Personcode Customergroups  Closed  NumAccount
0           0          14       Boomers+     1.0         4.0
1           1         143       Boomers+     1.0         7.0
2           2         538          Gen X     1.0         4.0
3           3         879          Gen X     3.0         6.0
4           4        1496          Gen X     3.0         6.0

In [64]:
wideData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 967860 entries, 0 to 967859
Data columns (total 5 columns):
Unnamed: 0        967860 non-null int64
Personcode        967860 non-null int64
Customergroups    967860 non-null object
Closed            967860 non-null float64
NumAccount        967860 non-null float64
dtypes: float64(2), int64(2), object(1)
memory usage: 36.9+ MB

In [ ]:
wideDataRed = wideData[['Persontype', 'Personcode', 'Branch', 'State', ]]