In [1]:
# cleaning and joining the balance data with the product data

# standard libraries
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import os

# plotting libraries
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# get the datetime library for date & time calcs
from datetime import datetime, timedelta

In [2]:
# load the the main data sets
activeData = os.path.normpath("C:/Users/n846490/Documents/DataScience/CSVs/checkingVintageRaw.csv")
vintageData = pd.read_csv(activeData)

In [3]:
vintageData.head()

,H1424_IDCENT,H1424_IDPROD,H1424_IDCONTRN,H1424_FECCONTR,H1424_FECBAJA,H1424_TIPOPERS,H1424_CODPERS,H1424_CDCANAL,Category,H9776_NOMPROV1,H1451_EDADPER,Cust_Start
0,1,113,12,29NOV1989,20SEP2016,F,354668,RED,MORTGAGE,PA,67,NaN
1,1,113,30,30SEP1996,17SEP2012,F,132166,RED,MORTGAGE,PA,71,09/19/1996
2,1,113,37,26MAR1999,14DEC2010,F,5272647,RED,MORTGAGE,PA,56,03/19/1999
3,1,113,40,02NOV2001,27DEC2007,F,131869,RED,MORTGAGE,PA,56,NaN
4,1,113,40,02NOV2001,27DEC2007,F,1019639,RED,MORTGAGE,PA,60,04/27/2013

In [ ]:
# need to change the column names to make more sense
# do this with mapping

newNames = {'H1424_IDCENT': 'CostCenter', 'H1424_IDPROD':'ProductType', 'H1424_IDCONTRN':'ContractNumber', 'H1424_FECCONTR':'DateOpened', 'H1424_FECBAJA':'DateClosed', 'H1424_TIPOPERS':'PersonType', 'H1424_CODPERS':'PersonCode', 'H1424_CDCANAL':'Channel', 'Category':'Category', 'H9776_NOMPROV1':'State', 'H1451_EDADPER':'CustomerAge', 'Cust_Start':'CustomerStart'}

vintageData.rename(columns=newNames, inplace=True)

In [ ]:
vintageData.head()

In [ ]:
#make customer ID

vintageData['CustID'] = vintageData['PersonType'] + str(vintageData['PersonCode'])

In [ ]:
# check the data types
vintageData.dtypes